:root {
  --mjd-primary: #3882dd;
  --mjd-primary-subtle: #3882ddc9;
}

nav {
  /* background-color: #88adda; */
  font-weight: 500;
  /* color: #88adda; */
}

.navbar-brand {
  color: var(--mjd-primary);
}

.navbar-brand:hover {
  color: var(--mjd-primary);
}

.nav-link {
  color: var(--mjd-primary-subtle);
}

.nav-link:hover {
  color: var(--mjd-primary);
}

.badge {
  background-color: var(--mjd-primary);
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.1rem;
}

p {
  line-height: 1.7rem;
}

.mjd-bio-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
}

.mjd-copy {
  background-color: #8b73892c;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0 0;
}

.mjd-project:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}
